.passwordLogin {
	display: flex;
	flex-direction: column;
	gap: 20px;
	background-color: white;
	border-radius: 20px;
	padding: 30px;

	.forgot {
		color: #346BD4;
		font-size: 16px;
		font-family: var(--lato);
		cursor: pointer;
	}

	.signIn {
		width: 100%;
		height: 40px;
		border-radius: 10px;
		background: #000;
		color: #FFF;
		font-weight: 700;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}
}