.content {
	height: 100vh;
	margin-top: -40px;
	flex: 1;
	padding: 40px 60px 60px;
	transition: padding var(--duration) ease-out;
	overflow-y: auto;
}

@media screen and (width <= 1200px) {
	.content {
		flex: 1;
		padding: 0 30px;
	}
}

@media screen and (width <= 600px) {
	.content {
		flex: 1;
		margin-top: 0;
		padding: 0 20px 60px;
	}
}