.navbar {
	width: 280px;
	height: 100%;
	border-radius: 30px;
	background: black;

	.brand {
		padding: 60px 0 60px 50px;
		font-size: 36px;
		font-weight: 700;
		color: white;
		text-transform: capitalize;
	}

	.navLinks {
		display: flex;
		flex-direction: column;
		gap: 40px;

		.navLink {
			color: white;
			font-size: 18px;
			text-decoration: none;

			&.active {
				font-weight: 700;
			}
		}
	}
}